.dynamic-list-selector tr {
  cursor: pointer;
}
.dynamic-list-selector tr td {
  border-top: 0px !important;
}

.dynamic-list-selector .column:first-child {
  padding: 0px !important;
}

.dynamic-list-selector .column:first-child > .ui.segment:first-child {
  padding: 5px !important;
  margin: 0px !important;
}

.dynamic-list-selector .column:first-child > .ui.segment:not(:first-child) {
  padding: 0px !important;
  margin: 0px !important;
}

.dynamic-list-selector .column:not(:first-child) tr td {
  padding-top: 2px;
  padding-bottom: 2px;
}
.dynamic-list-selector .ui.label > .icon {
  color: #fff !important;
  padding-right: 0 !important;
}
.dynamic-list-selector .ui.label > .delete.icon {
  float: right;
}
